# .gitignore

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Angular
.angular/
dist/
.env

# Visual Studio
bin/
obj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
*.dll
*.pdb
*.exe
*.cache
*.log

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log